body {
  background-image: url("assets/images/back.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.main-content {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.form-content {
  width: 600px;
  height: 600px;
  background-color: white;
  margin: 30px auto;
  border-radius: 5px;
}

.card:hover {
  background-color: #f8f9fa !important;
  color: #343a40 !important;
  transition: 0.3s;
}
